### Q1. You are working on a machine learning project where you have a dataset containing numerical and categorical features. You have identified that some of the features are highly correlated and there are missing values in some of the columns. You want to build a pipeline that automates the feature engineering process and handles the missing values.
### Design a pipeline that includes the following steps"
- Use an automated feature selection method to identify the important features in the dataset Create a numerical pipeline that includes the following steps"
    - Impute the missing values in the numerical columns using the mean of the column values
    - Scale the numerical columns using standardization
- Create a categorical pipeline that includes the following steps"
    - Impute the missing values in the categorical columns using the most frequent value of the column
    - One-hot encode the categorical columns
- Combine the numerical and categorical pipelines using a ColumnTransformer
- Use a Random Forest Classifier to build the final model
- Evaluate the accuracy of the model on the test dataset

### Note! Your solution should include code snippets for each step of the pipeline, and a brief explanation of each step. You should also provide an interpretation of the results and suggest possible improvements for the pipeline.

In [96]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from seaborn import load_dataset
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings(action="ignore")

In [97]:
df = load_dataset("iris")

In [98]:
# dataset = load_iris()
# data = dataset.data
# df = pd.DataFrame(data,columns=dataset.feature_names)

In [99]:
# df["target"] = dataset.target

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [101]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [102]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["species"] = encoder.fit_transform(df["species"])

In [103]:
num_cols = ["sepal_length","sepal_width","petal_length","petal_width"]
# cat_cols = ["species"]

In [104]:
# Creating numerical pipeline : 

num_pipeline = Pipeline(
    steps = [
        ("imputer",SimpleImputer(strategy="mean")), # applying simple imputer to impute any missing values with mean value.
        ("scaler",StandardScaler()), # applying standard scaler to scale our data point in one scale.
    ]
)

In [105]:
# Creating categorical pipeline : 

cat_pipeline = Pipeline(
    steps = [
        ("imputer",SimpleImputer(strategy="most_frequent")), # applying simple imputer to impute any missing values with mean value.
        ("OneHotEncoder",OneHotEncoder()), # applying one hot encoding to our categoical column to convert into numerical column.
    ]
)

In [106]:
preprocessor = ColumnTransformer([
    ("num_pipeline",num_pipeline,num_cols),
    # ("cat_pipeline",cat_pipeline,cat_cols)
])

In [115]:
X,y = df.iloc[:,:-1],df["species"]

In [116]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

### Q2. Build a pipeline that includes a random forest classifier and a logistic regression classifier, and then use a voting classifier to combine their predictions. Train the pipeline on the iris dataset and evaluate its accuracy.

In [117]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [118]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

models = {
    "Random Forest":RandomForestClassifier(),
    "Logistic Regression":LogisticRegression()
}

In [119]:
def evaluate_model(X_train,y_train,X_test,y_test,models):
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        test_model_score = accuracy_score(y_test,y_pred)
        report[list(models.keys())[i]] = test_model_score
    return report

In [120]:
evaluate_model(X_train,y_train,X_test,y_test,models)

{'Random Forest': 1.0, 'Logistic Regression': 1.0}