## Ans - 1

#### **Database** is a organized collection of structured data. Our data is stored in database as row and column.

#### **Mysql :** 
#### (1) Structured query language (SQL)
#### (2) SQL databases are primarily called RDBMS or Relational Databases
#### (3) SQL databases are table based databases
#### (4) SQL databases have a predefined schema
#### (5) SQL databases are vertically scalable
#### (6) RDBMS database is the right option for solving ACID problems.

#### **NoSQL :** 
#### (1) Not Only SQL
#### (2) NoSQL databases are primarily called as Non-relational or distributed database
#### (3) NoSQL databases can be document based, key-value pairs, graph databases
#### (4) NoSQL databases use dynamic schema for unstructured data.
#### (5) NoSQL databases are horizontally scalable
#### (6) NoSQL is a best used for solving data availability problems

## Ans - 2

#### DDL : Data Definition Language which helps to define the structure or schema of a table.

#### **CREATE** : It is used to create a table in databases.
#### Ex : create table student(id int, name varchar(20), age int, cirty varchar(20));

#### **Drop** : It is used to drop tables or database
#### Ex : drop database student_db;
#### Ex : drop table student;

#### **Alter** : It is used to update or modify the structure or schema of table.
#### Ex : alter table student modify name varchar(30);
#### Ex : alter table student rename name to std_name;

#### **Truncate** : It is used to delete all the rows from table. It will not delete the whole table or it's structure.
#### Ex : truncate student;

## Ans - 3

#### **DML** : Data Manipulation Language is used to modify the data of database.

#### **Insert** : It is used to insert data inside a table in the database.
#### Ex : insert into student(1,"himal","ahmedabad");

#### **Update** : It is used to modify or update the data of table in the database.
#### Ex : update into student set name = "yagnik" where name = "himal";

#### **Delete** : It is used to delete data from table in the database.
#### Ex : delete from student where id = 1;

## Ans - 4

#### **DQL** : Data Query Language is used get or select data from database.
#### **Select** : It is used to select all the data or particular column from database.
#### Ex : select * from student;
#### Ex : select id,name from student;

## Ans - 5

#### **Primary Key** : Primary key is used to identify unique data or records from the table.
#### **Foreign Key** : Foreign key is used to give references or relation of one table to another table.

In [2]:
from mysql import connector
conn = connector.connect(host="localhost", user="root", password="")

#### **Cursor() :** 
#### Cursor points to the result set of a database. 
#### It is a temporary work station or memory. 
#### it is allocated by database server at the time of performing DML(Data Manipulation Language) operations on Table by User. 
#### It is used to store database tables.

#### **Execute() :** 
#### Execute is used to execute sql statement or perform a query in database.

## Ans - 6

#### 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

#### 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

#### 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

#### 4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

#### 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

#### 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

#### 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.